body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #323232;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    position: relative;
    /* Important for submenu positioning */
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}


.navbar li {
    position: relative;
   
}


.navbar a {
    display: block;
    color: #a5a3a3;
    padding: 15px 20px;
    text-decoration: none;
    transition: color 0.5s ease;
}

.navbar a:hover {
    color: #fff;
}

.submenu {
    display: none;
    position: fixed;
    /* Use 'fixed' to break out of the container */
    left: 0;
    right: 0;
    top: calc(100% + 15px);
    /* Adjust based on the navbar's height */
    background-color: #323232;
    /* To match the navbar */
    color: white;
    padding: 0;
    margin: 0;
    opacity: 0;
    /* Start fully transparent */
    visibility: hidden;
    /* Hide it by default */
    transition: opacity 0.5s, visibility 0.5s;
    /* Smooth transition for fade in/out */
    z-index: 999;
}

.submenu li {
    text-align: center;
    /* Center the submenu items */
    padding: 10px 0;
    /* Provide some padding */
}

.navbar li:hover .submenu {
    display: block;
    /* Show the submenu on hover */
    opacity: 1;
    visibility: visible;
}

.submenu a {
    padding: 12px 16px;
    /* Adjust padding for submenu items */
    text-decoration: none;
    display: block;
    /* Ensures each submenu item is full-width */
    color: #a5a3a3;
    /* Match the color with the parent navbar */
}

.submenu a:hover {
    background-color: #414141;
    /* Slightly lighter than the navbar for hover effect */
}