/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #323232;
    padding: 15px 0;
    position: relative;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a {
    display: block;
    color: #a5a3a3;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.5s ease;
}

.navbar a:hover {
    color: #ffffff;
}

/* Overlay styles */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 999;
    transition: opacity 0.5s, visibility 0.5s;
}

.nav-item:hover~.overlay {
    display: block;
    opacity: 1;
    visibility: visible;
}

/* Submenu styles */
.submenu {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 60px;
    background-color: #323232;
    z-index: 1000;
    padding: 20px 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear;
    z-index: 1000;
}

.nav-item:hover .submenu {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.submenu a {
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    text-align: left;
    border: none;
    transition: background-color 0.3s ease;
}

.submenu a:hover {
    background-color: #414141;
}

/* Additional style for submenu items to stack vertically */
.submenu div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid #484848;
    /* Separator for items, remove if not needed */
}

/* Style for submenu headings, if used */
.submenu h2 {
    font-size: 22px;
    color: #a5a3a3;
    margin: 10px 20px;
}